[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
injector = "*"
"pyqt5" = "*"
python-opensubtitles = {git = "https://github.com/agonzalezro/python-opensubtitles.git"}
requests = "*"

[dev-packages]
"autopep8" = "*"
nose = "*"
rope = "*"
pyinstaller = "*"
"flake8" = "*"
"pywin32" = { version = "*", sys_platform = "== 'win32'" }
"pypiwin32" = { version = "*", sys_platform = "== 'win32'" }

[requires]
python_version = "3.6"
